.interna-portfolio {
    background: url("../img/bg-portfolio.jpg") no-repeat  center;
    background-size: cover;
}
.quote-clientes {
    max-width: 460px;
    padding: 60px 0;
    margin: 0 auto;
}
.quote-clientes p {
    margin-bottom: 20px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    font-style: italic;
    line-height: 25px;

    text-align: center;
}
.quote-clientes cite {
    float: right;

    font-size: 18px;
    font-style: normal;
    font-weight: bold;

    text-align: right;
}
